/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.container{
    margin: 0;
}

.mr-auto, .mx-auto {
    margin-left: 600px !important;
}

.navbar {
    padding-right: 20px;
    transition: all 0.6s ease;
    box-sizing: border-box !important
}

.navbar .nav-link {
    color: #fff;
}

nav ul li a{
    padding: 3px 20px !important;
}

nav ul li.active{
    color: #fff;
    background: #f00;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #000;
    background: #f00;
    transition: 0.6s ease;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 1475px) {
    .navbar {
        background: #fff;
        
    }
    .mr-auto, .mx-auto{
        margin: auto !important;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

@media (max-width: 768px) {
    .carousel-inner{
        margin-top: 80px !important;
    }
}

@media (max-width: 1475px) and (min-width: 992px)  {
 
    .navbar {
        background: transparent;
        
    }
    .navbar .navbar-brand, .navbar .nav-link {
        color: #fff;
    }
    
}

/*<!----Footer---->*/
 @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');
  body{
  	padding: 0;
  	margin:0;
  	overflow-x: hidden;
  }
  h3{
  	font-size: 32px;
  	font-weight: 700;
  }
  	.customcolor{
  		background: #555;
  		padding-top: 60px;
  		padding-bottom: 30px;
  		color: #fff;
  		font-family: 'Raleway', sans-serif;
      }
      
    .customcolor p{
        padding-top: 20px;
    }

  	.customcolor .col-md-3:nth-child(1) .fa{
  		padding-right: 25px;
  	}
  	.customcolor .col-md-3:nth-child(2) .fa,.customcolor .col-md-3:nth-child(3) .fa{
  		padding-right: 10px;
  	}
  	.customcolor ul {
  		list-style-type: none;
  		padding: 20px 10px;
  		margin: 0;
  		/*padding-top: 20px;
  		padding-left: 10px;*/
    }
    .customcolor ul li{
        padding-top: 5px;
    }
    .customcolor a{
        text-decoration: none;
        color: #fff;
    }
    .customcolor a:hover{
        color:#fd0707;
    }
    .customcolor span{
        font-size: 45px;
        text-transform: uppercase;
    }
    .form-control{
        height: 45px;
        border-radius: 2px;
        color: #fff;
        margin-bottom: 20px;
    }
    .btn-custom{
        background: #000;
        color: #fff;
        padding: 10px 23px 10px 23px;
    }
    .btn-custom:hover{
        background:#f00; 
        color:#fff;
    
        transition: .6s ease;

    }
    .bottom{
            background: #fff;
            color: #555;
            padding-top: 20px;
            font-weight: 600;

    }
    .bottom ul{
        list-style-type: none;
        display: inline-flex;
    
    }
    .bottom ul li{
        padding-right: 30px;
        text-align: right;
    }
    .bottom a{
        text-decoration: none;
        color: #555;
    }
    .icon .fa{
        font-size: 30px;
        cursor: pointer;
    }
    .icon .fa:hover{
        color: #f00;
    }
    @media(max-width: 768px){
        h3{
            padding-top: 30px;
        }
        .bottom{
            text-align: center;
        }
        .bottom .pull-right{
            float: right;
            text-align: center;
            padding-top: 20px;
        }
    }
    @media(max-width: 450px){
        .customcolor{
            text-align: center;
        }
        .customcolor .col-md-3:nth-child(1) .fa{
            padding-right: 15px;
            text-align: center;
        }
        .customcolor .pl-4{
            padding-left: 0 !important;
        }
        .customcolor .pr-4{
            padding-right: 0 !important;
        }
    }
    

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.514); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background: rgba(0, 0, 0, 0.750);
    border: none;
    margin-bottom: 20px;
  }

  .card:hover{
    animation: bounce 1s;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .card img{
        height: 200px;
        width: 100%;
  }

  .note1 h1{
      font-size: 5rem !important;
      color: #fff;
      text-align: center;
      font-family: 'Kaushan Script', cursive;
      padding-top: 30px;
      margin-bottom: 30px;

  }

  .note1 h2{
    color: #fff;
    font-size: 3rem !important;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin-top: 30px;
    margin-bottom: 30px;

}

.card h2{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.card p{
    font-family: 'Cookie', cursive;
    font-size: x-large;
    color: #fff;
}

#section1{
    background-size: cover;
    background-image: url(../images/back1.png);
}

keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@media screen and (max-width: 600px) {
    .note1 h1{
      font-size: 3.5rem !important;
    }
    .note1 h2{
        font-size: 2.5rem !important;
    }
  }